.root {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 800px;
    min-height: 500px;
}

@font-face {
    font-family: "Korinan";
    src: url("korinan.ttf");
}

@font-face {
    font-family: "Gyparody";
    src: url("gyparody.ttf");
}
@font-face {
    font-family: "Matcha Latte";
    src: url("matchalatte.ttf");
}

.topics {
    width: 100%;
    background-color: #324ca8;
}
.topic-name input, .topic-name h2, .add-topic, .question textarea, .question h2 {
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    font-family: "Impact", sans-serif;
}
.question, .topic-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #000;
    padding: 20px 10px;
}
.question textarea {
    flex-grow: 1;
    margin: 20px;
    outline: none;
    border: none;
}
.question textarea, .question h2, .question span {
    color: #ffe100;
    text-shadow: 2px 2px 0px #000;
    font-family: "Impact", sans-serif;
}
.question.finished h2, .question.showing h2, .question.showing textarea {
    font-family: "Korinan", serif;
    color: #fff;
}
.question h2.add-question {
    color: #fff;
    text-shadow: none;
    font-family: "Korinan", serif;
}

.topics input:not([type=checkbox]):not([type=radio]) {
    border: none;
}
.topic-names, .questions {
    display: grid;
}

.add-topic, .add-question {
    cursor: pointer;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.zoom-enter {
    transform: scale(0.3);
}
.zoom-enter-active {
    transform: scale(1);
    transition: transform 800ms;
}
.zoom-exit {
    transform: scale(1);
}
.zoom-exit-active {
    transform: scale(0.3);
    transition: transform 300ms;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.modal .modal-header .close {
    color: #ccc;
    cursor: pointer;
}
.modal .modal-header h2 {
    font-size: 24px;
    color: #fff;
    font-family: "Gyparody", sans-serif;
    font-weight: 700;
}

.modal-appear {
    transform: scale(0.9) translate(0, 30px);
}
.modal-appear-active {
    transform: scale(1) translate(0, 0);
    transition: transform 300ms;
}
.modal-exit {
    transform: scale(1) translate(0, 0);
}
.modal-exit-active {
    transform: scale(0.9) translate(0, 30px);
    transition: transform 300ms;
}

.modal .content {
    display: flex;
    flex-direction: column;
    background-color: #324ca8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.4);
}

input, button {
    font-weight: 800;
    font-size: 20px;
    color: #ffe100;
    padding: 20px;
}

button {
    background-color: #ffe100;
    color: #324ca8;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: box-shadow 200ms;
    box-shadow: 2px 0px 10px rgba(0,0,0,0.4);
}

button:active {
    box-shadow: 0px 0px 0px rgba(0,0,0,0.4);
}

.preferences .settings {
    display: grid;
    grid-template-columns: 75% 25%;
}
.preferences .settings h3 {
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
}
.preferences .settings input {
    border: none;
}

.footer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.question-answer, .answers, .waiting-room {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #324ca8;
    flex-direction: column;
    padding: 20px;
}

.edit-name {
    width: 600px;
}

.question-answer .countdown {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffe100;
    font-family: "Impact", serif;
}

.question-answer .question {
    border: none;
}
.question-answer .question h2 {
    color: #fff;
}
.question-answer .answer-text {
    width: 100%;
    display: flex;
    flex-grow: 1;
}
.question-answer .answer-text textarea {
    width: 100%;
    border: 2px solid #ffe100;
    font-size: 24px;
    padding: 20px;
    color: #ffe100;
    border-radius: 0;
    outline: none;
    font-family: "Matcha Latte", sans-serif;
}

.question-text {
    text-shadow: 2px 2px 0px #000;
    font-family: "Korinan", serif;
    font-size: 2em;
    color: #fff;
    padding: 40px;
}

.answers .header {
    font-family: "Gyparody", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #ffe100;
}

.answers {
    color: #fff;
}

.user-answers {
    display: flex;
    font-size: 1.5em;
}

.answers .answer {
    font-family: "Matcha Latte", sans-serif;
    font-size: 24px;
    margin-left: 10px;
}

.user-answer {
    border: 2px solid #000;
    padding: 10px;
    cursor: pointer;
}
.correct-answers {
    flex-grow: 1;
    font-size: 1.5em;
}
.correct-answers-title {
    font-size: 24px;
    color: #ffe100;
    font-family: "Impact", serif;
}
.answers .user-name h2 {
    color: #ffe100;
    font-family: "Impact", serif;
    text-shadow: 2px 2px 0px #000;
    font-size: 1em;
}
.answers .user-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-correct-answer {
    display: flex;
}

.leaderboard {
    display: flex;
    min-width: 600px;
}

.leaderboard .user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard .user .score {
    font-size: 24px;
    color: #fff;
    font-family: "Impact", serif;
    margin-bottom: 10px;
}
.leaderboard .user-name {
    border: 2px solid #000;
    width: 150px;
}
.user-name img {
    width: 150px;
}
.leaderboard .user .user-name h2 {
    font-family: "Matcha Latte", sans-serif;
    color: #fff;
}

.draw-name {
    flex-grow: 1;
    width: 100%;
    position: relative;
}
.draw-name .controls {
    position: absolute;
    top: 10px;
    right: 5px;
    display: flex;
    color: #ccc;
    font-weight: bold;
}
.draw-name .controls > * {
    margin-right: 10px;
    cursor: pointer;
}
.canvas {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

.waiting-room .header {
    font-size: 18px;
    color: #ffe100;
    text-align: center;
    font-family: "Matcha Latte", sans-serif;
}

.waiting-room .header h2 {
    font-family: "Impact", serif;
    font-size: 24px;
    color: #fff;
}